:root {
    --backgroundPrimary: #0A192F;
    --lightBackgroundPrimary: #112240;
    --fontPrimary: #A7B2D0;
    --fontSecondary: #64ffda;
    /* --backgroundPrimary: black;
    --fontPrimary: #A7B2D0;
    --fontSecondary: orange; */
}

html, body {
    padding: 0;
    margin: 0;
    color: var(--fontPrimary);
    background-color: var(--backgroundPrimary);
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--backgroundPrimary);
}

nav {
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    counter-reset: navLinks;
}

nav a{
    text-decoration: none;
    color: inherit;
    padding: 3px
}

nav li a::before{
    counter-increment: navLinks;
    content: counter(navLinks, decimal-leading-zero)". ";
    color: var(--fontSecondary);
}

nav a:hover {
    color: var(--fontSecondary);
    transition: color 1s;
}

nav a:focus{
    border: 2px dashed var(--fontSecondary)
}



aside#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
    color:var(--fontSecondary)
}

nav ul {
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin:0;
    height: 100%;
}

nav li {
    margin-right: 1.5em;
}

label#checkBtn {
    display: none;
    color: inherit;
}



@media (max-width: 600px){
    
    label#checkBtn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1em;
        z-index: 3;
        cursor: pointer; 
        font-size: 1.5em;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        z-index: 2;
        left: -120%;
        transition: all 1s;
        background-color: var(--backgroundPrimary);
        flex-direction: column;
        justify-content: center;
        
    }

    nav ul li {
        vertical-align: middle;
    }
    input#nav-check:checked ~ nav ul{
            left: 0;
    }
    nav ul li{
        margin-top: 2em;
    }
}

/*Sections*/
main{
    counter-reset: sectionHeadingCounter;
    display: flex;
    justify-content: space-between;
}



#hero .hero-colored-text{
    color: var(--fontSecondary)
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    margin-top: 2.5em;
}

#socials ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%
}

#socials ul a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}

#socials ul a:hover {
    color: var(--fontSecondary);
    transition: color 1s;
}


#sections-container {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
    
}

#email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    letter-spacing: 0.1em;
    margin-right: 1em;
    flex-grow: 1;
    height: 100vh;
    margin-top: 2.5em;
}

#email a {
    text-decoration: none;
    color: inherit;
}


.section {
    display: flex;
    flex-direction: column;
    margin:0 2em;
    margin-top: 2.5em;
    scroll-behavior: smooth;
}

.left-flex{
    align-items: flex-start;
}
.right-flex{
    align-items: flex-end;
}
.center-flex{
    align-items: center;
}


.section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.align-content-row{
    flex-direction: row;
}

.section-content #subsection-menu {
    margin-right: 1em;
    display: flex;
}
.section-content #subsection-menu ul{
    margin: 0;
    padding: 0;
    height:100%;
    display: flex;
    flex-direction: column;
}

.section-content #subsection-menu li {
    width:100%;
    height: 100%;
    list-style: none;
}

.section-content #subsection-menu li button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    padding: 10px;
}

.section-content #subsection-menu li button:hover{
    background-color: var(--lightBackgroundPrimary);
}

.section-content #subsection-menu li button:focus{
    color: var(--fontSecondary);
    background-color: var(--lightBackgroundPrimary);
}

#panel-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start ;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .section-heading::after{
    display: inline-block;
    content: "";
    width: 9rem;
} */
.section-heading::before {
    counter-increment: sectionHeadingCounter;
    content: counter(sectionHeadingCounter, decimal-leading-zero)". ";
    color: var(--fontSecondary);
    font-size: 0.5em;
}