:root {
    --backgroundPrimary: #0A192F;
    --fontPrimary: #A7B2D0;
    --fontSecondary: #64ffda;
}

html, body {
    padding: 0;
    margin: 0;
    color: var(--fontPrimary);
    background-color: var(--backgroundPrimary);
}

nav {
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    counter-reset: navLinks;
}

nav a{
    text-decoration: none;
    color: inherit;
    padding: 3px;
}

nav li a::before{
    counter-increment: navLinks;
    content: counter(navLinks, decimal-leading-zero)". ";
    color: var(--fontSecondary);
}

nav a:hover {
    color: var(--fontSecondary)
}

nav a:focus{
    border: 2px dashed var(--fontSecondary)
}



aside#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
    color:var(--fontSecondary)
}

nav ul {
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin:0;
    height: 100%;
}

nav li {
    margin-right: 1.5em;
}

label#checkBtn {
    display: none;
    color: inherit;
}



@media (max-width: 600px){
    
    label#checkBtn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1.5em;
        z-index: 3; 
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        z-index: 2;
        left: -120%;
        transition: all 1s;
        background-color: var(--backgroundPrimary);
        flex-direction: column;
        justify-content: center;
        
    }
    input#nav-check:checked ~ nav ul{
            left: 0;
    }
    nav ul li{
        margin-top: 2em;
    }
}

/*Sections*/
main{
    counter-reset: sectionHeadingCounter;
    display: flex;
    justify-content: space-between;
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#sections-container {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
}

#email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    letter-spacing: 0.1em;
    margin-right: 1em;
    margin-top: 3em;
    flex-grow: 1;
}

#email a {
    text-decoration: none;
    color: inherit;
}
#socials ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.section {
    display: flex;
}

.section.left {
    justify-content: flex-start;
}
.section.right{
    justify-content: flex-end;
}

/* .section-heading::after{
    display: inline-block;
    content: "";
    border-top: .1rem solid;
    width: 9rem;
}
.section-heading::before {
    counter-increment: sectionHeadingCounter;
    content: counter(sectionHeadingCounter, decimal-leading-zero)". ";

} */